/.metadata/
Backend/.metadata/*
Backend/.metadata/
.metadata/*
metadata/*
.metadata/
metadata/
\.metadata\
Backend\.metadata\*
Backend\.metadata\
\.metadata\*
metadata\*
\.metadata\
metadata\
\.metadata\
metadata\

# Maven
target/
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# Gradle
build/
.gradle/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Spring Boot
spring-boot-starter/target/


# Node
node_modules/

# Angular
/dist/
/e2e/*.log
/e2e/*.screenshots
/e2e/reports/

# IDE
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db