/.metadata/
Backend/.metadata/*
Backend/.metadata/
.metadata/*
metadata/*
.metadata/
metadata/
\.metadata\
Backend\.metadata\*
Backend\.metadata\
\.metadata\*
metadata\*
\.metadata\
metadata\
\.metadata\
metadata\

# Maven
target/
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# Gradle
build/
.gradle/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Spring Boot
spring-boot-starter/target/


# Node
node_modules/

# Angular
/dist/
/e2e/*.log
/e2e/*.screenshots
/e2e/reports/

# IDE
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db
*.ini
*.ini
*.xml
Backend/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Backend/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Backend/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Backend/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Backend/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Backend/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Backend/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Backend/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Backend/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Backend/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Backend/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
