.message-container {
    width: 100%;
    max-width: 100vw; /* Imposta la larghezza massima a 100vw */
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow-x: auto; /* Abilita lo scroll orizzontale se i messaggi superano la larghezza */
  }
  
  .right {
    align-self: flex-end;
    background-color: yellowgreen;
  }
  
  .left {
    align-self: flex-start;
    background-color: darkgoldenrod;
  }
  
  .message {
    color: antiquewhite;
    max-width: 400px;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
  }
  .icons-box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .textbox {
    width: 60%;
  }
  
  .send {
    width: 10%;
  }
  
  .input-box {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 100vw;
    padding: 0 50px;
    justify-content: center;
  }
  
  label {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;

  }

