<!-- ticket dell'operator -->



<div class="prova">

    <div class="singleTicketContainer" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <div class="userId">
            <h4>ticket Id</h4>
            <p>{{ticket.id}}</p>
        </div>
        <div class="date">
            <h4>Opening date</h4>
            <p>12/02/2023</p>
        </div>
        <div class="ticketInfo">
            <h4>Ticket</h4>
            <p>{{ticket.message}}</p>
        </div>
        <div *ngIf="ticket.status === 'wip'" class="sectionOrderId">
            <div class="status">

                <ng-template #tipContent>
                    <b>Work in progress</b>
                </ng-template>
                <span class="me-2">WIP:</span>
                <button type="button" class="btn btn-outline-secondary status green" [ngbTooltip]="tipContent">
                </button>
            </div>
        </div>
        <div *ngIf="ticket.status === 'no-wip'" class="sectionOrderId">
            <div class="status">
                <ng-template #tipContent>
                    <b>Not Work in progress</b>
                </ng-template>
                <span class="me-2">WIP:</span>
                <button type="button" class="btn btn-outline-secondary status yellow" [ngbTooltip]="tipContent">
                </button>
            </div>
        </div>
        <div *ngIf="ticket.status === 'closed'" class="sectionOrderId"
            [ngClass]="ticket.status === 'closed' ? 'justify-content-around' : 'justify-content-end'">
            <div class="status">
                <ng-template #tipContent>
                    <b>Closed</b>
                </ng-template>
                <span class="me-2">WIP:</span>
                <button type="button" class="btn btn-outline-secondary status red" [ngbTooltip]="tipContent">
                </button>
            </div>
            <button class="download">Download resume</button>
        </div>
    </div>
</div>


<div #collapse="ngbCollapse" class="card" [(ngbCollapse)]="isCollapsed">
    <!-- <button mat-stroked-button color="warn">Close ticket</button>
    <button mat-stroked-button color="accent" (click)="toggleMarkMenu()">Mark as..</button>
    <div *ngIf="showMarkMenu" class="mark-menu" style="margin: auto;">
        <button mat-stroked-button color="accent" (click)="markAs('fake')">Fake</button>
        <button mat-stroked-button color="accent" (click)="markAs('switched')">Switched</button>
        <button mat-stroked-button color="accent" (click)="markAs('copied')">Copied</button>
    </div>
    <button mat-stroked-button color="primary">Take charge</button> -->
    <div class="example-button-row">
        <div class="example-flex-container">


            <div id="c">
                <!-- contenitore1 -->
                <div class="c1">
                    <!-- user id da mettere al posto di ticket id-->
                    <p>user id : {{ticket.user_id}}</p>
                    <!-- messaggio del ticket -->
                    <p> Message : </p>
                    <p class="msg">{{ticket.message}}</p>
                </div>
                <!-- contenitore 2 -->
                <div class="c2">

                    <div class="selectt">
                        <!-- type selection -->
                        <mat-form-field>
                            <mat-label>Select an option</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option1">Product</mat-option>
                                <mat-option value="option2">Refund</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="selectBtn" *ngIf="selected !== 'option2'">
                            <!-- Aggiungi l'evento click per gestire il click sul bottone -->
                            <button (click)="send()" mat-raised-button color="primary">Send</button>
                        </div>
                    </div>


                    <div class="infoc2">

                        <!-- priority -->
                        <p>Priority : {{ticket.priority}}</p>
                        <!-- order id -->
                        <p>Order Id : {{ticket.order_id}} </p>

                    </div>



                </div>





            </div>

        </div>








        <!-- bottone delete -->
        <div class="example-button-container">
            <!-- <button mat-fab id="cl" color="warn" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button> -->

            <button mat-icon-button color="primary" id="cl" aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
            </button>


            <!-- 3 button mark as -->
            <div class="markers">
                <button mat-stroked-button color="accent">Set fake </button>
                <button mat-stroked-button color="accent">Set duplicated </button>
                <button mat-stroked-button color="accent">Set switched</button>
            </div>

            <!-- take charge button -->
            <div id="charge" *ngIf="ticket.status !== 'wip'">
                <button mat-button color="accennt">Take charge</button>
            </div>

            <!-- chat button -->
            <div id="chatclose"  *ngIf="ticket.status === 'wip'">
                <button id="chat" mat-button color="accennt">Chat</button>
                <button id="close"  mat-button color="accennt">Close</button>

            </div>

            <!-- close button -->

        </div>


    </div>



</div>