<!-- ticket dell'operator -->


<!-- <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> -->

<div class="prova">




    <div class="singleTicketContainer" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <div class="userId">
            <h4>ticket Id</h4>
            <p>{{ticket.id}}</p>
        </div>
        <div class="date">
            <h4>Opening date</h4>
            <p>12/02/2023</p>
        </div>
        <div class="ticketInfo">
            <h4>Ticket</h4>
            <p>{{ticket.message}}</p>
        </div>
        <div *ngIf="ticket.status === 'wip'" class="sectionOrderId">
            <div class="status">

                <ng-template #tipContent>
                    <b>Work in progress</b>
                </ng-template>
                <span class="me-2">WIP:</span>
                <button type="button" class="btn btn-outline-secondary status green" [ngbTooltip]="tipContent">

                </button>
            </div>
        </div>
        <div *ngIf="ticket.status === 'no-wip'" class="sectionOrderId">
            <div class="status">

                <ng-template #tipContent>
                    <b>Not Work in progress</b>
                </ng-template>
                <span class="me-2">WIP:</span>
                <button type="button" class="btn btn-outline-secondary status yellow" [ngbTooltip]="tipContent">

                </button>
            </div>
        </div>
        <div *ngIf="ticket.status === 'closed'" class="sectionOrderId"
            [ngClass]="ticket.status === 'closed' ? 'justify-content-around' : 'justify-content-end'">
            <div class="status">

                <ng-template #tipContent>
                    <b>Closed</b>
                </ng-template>
                <span class="me-2">WIP:</span>
                <button type="button" class="btn btn-outline-secondary status red" [ngbTooltip]="tipContent">

                </button>
            </div>
            <button class="download">Download resume</button>
        </div>
    </div>


</div>
<!-- </button> -->


<div #collapse="ngbCollapse" class="card" [(ngbCollapse)]="isCollapsed">
    
        <button mat-stroked-button color="warn">delete</button>
        <button mat-stroked-button color="accent">mark</button>
        <button mat-stroked-button color="primary">send</button>
    
</div>