.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    }
    .navbar-button{
      justify-self: flex-end;
    }