<!-- Single ticket component -->
<form action="" #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
  <ng-template #content let-c="close" let-d="dismiss" class="bg-red">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button
        type="button"
        class="btn-close violet text-light"
        aria-label="Close"
        (click)="d('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <p>To access enter ticket code</p>
    </div>
    <div class="input-group mb-3 container">
      <input
        [(ngModel)]="code"
        name="code"
        required
        type="text"
        class="form-control"
        placeholder="Enter code here"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        minlength="8"
        maxlength="8"
      />
    </div>
    <div
      *ngIf="
        myForm.controls['code'] &&
        myForm.controls['code'].invalid &&
        (myForm.controls['code'].dirty || myForm.controls['code'].touched)
      "
    >
      <p
        class="ms-3 text-danger"
        *ngIf="myForm.controls['code'].errors!['required']"
      >
        Code is required
      </p>
      <p
        class="ms-3 text-danger"
        *ngIf="myForm.controls['code'].errors!['minlength']"
      >
        Code must be at least 3 characters long
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark violet"
        (click)="c('Save click')"
      >
        Send
      </button>
    </div>
  </ng-template>
</form>

<div class="prova" (click)="open(content)">
  <div class="singleTicketContainer">
    <div class="userId">
      <h4>Order Id</h4>
      <p>{{ ticket.id }}</p>
    </div>
    <div class="date">
      <h4>Opening date</h4>
      <p>12/02/2023</p>
    </div>
    <div class="ticketInfo">
      <h4>Message</h4>
      <p>{{ ticket.message }}</p>
    </div>
    <ng-container [ngSwitch]="ticket.status">
      <div class="sectionOrderId" *ngSwitchCase="'wip'">
        <div class="status">
          <ng-template #tipContent>
            <b>Work in progress</b>
          </ng-template>
          <span class="me-2">status:</span>
          <button
            type="button"
            class="btn btn-outline-secondary status green"
            [ngbTooltip]="tipContent"
          ></button>
        </div>
      </div>
      <div class="sectionOrderId" *ngSwitchCase="'no-wip'">
        <div class="status">
          <ng-template #tipContent>
            <b>Not Work in progress</b>
          </ng-template>
          <span class="me-2">status:</span>
          <button
            type="button"
            class="btn btn-outline-secondary status yellow"
            [ngbTooltip]="tipContent"
          ></button>
        </div>
      </div>
      <div
        class="sectionOrderId justify-content-around"
        *ngSwitchCase="'closed'"
      >
      
        <div class="status">
          <ng-template #tipContent>
            <b>Closed</b>
          </ng-template>
          <span class="me-2">status:</span>
          <button
            type="button"
            class="btn btn-outline-secondary status red"
            [ngbTooltip]="tipContent"
          ></button>
        </div>
        <button mat-icon-button type="button" id="download-icon">
          <mat-icon>get_app</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
