
<p>
    
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
      <span> Landing Page </span>
    </mat-toolbar>
  </p>

  

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Firstname</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
    
  
    <mat-form-field class="example-full-width">
      <mat-label>Problematica riscontrata</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

    <div class="buttonform">
        <button mat-raised-button color="primary"  class="bottone" >Primary</button>
    </div>
   

  </form>