<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Icon</button>



<ng-template #content let-c="close" let-d="dismiss">
		<ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <button ngbNavLink>User</button>
              <ng-template ngbNavContent>
                <ng-form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
                      </div>
                      
                </ng-form>
              </ng-template>
            </li>
            <li ngbNavItem>
              <button ngbNavLink>Employee</button>
              <ng-template ngbNavContent>
                <ng-form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
                      </div>
                      
                </ng-form>
              </ng-template>
            </li>
        </ul>
	<div class="modal-body">
        <div [ngbNavOutlet]="nav"></div>
        <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
	</div>

</ng-template>