<div class="my-sidebar">
    <div class="side-card">
        <img class="bd-placeholder-img rounded-circle" width="100" height="100" src="https://i.pravatar.cc/300"
            role="img" />
            <div *ngIf="(credentials$|async)as credentials">
                <h2>Hi, {{credentials.firstname }} {{credentials.lastname}} </h2>
            </div>
    </div>
    <div class="side-card">
        <h2>Retrive Chat Access Code</h2>
        <form #accessCodeForm="ngForm" (ngSubmit)="submitForm(accessCodeForm)">
        
            <mat-form-field class="mb-3">
                <mat-label for="exampleInputEmail1" class="form-label">Email</mat-label>
                <input matInput [(ngModel)]="userData.email" placeholder="Email" name="email" required email>
                <!-- <div
                    *ngIf="myForm.controls['email'] && myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)">
                    <p *ngIf="myForm.controls['email'].errors!['required']">Email is required</p>
                    <p *ngIf="myForm.controls['email'].errors!['email']">The email format is incorrect, use &#64;</p>
                </div> -->
            </mat-form-field>
            <mat-form-field class="mb-3">
                <mat-label for="inputChatAccessCode" class="form-label">Chat Access Code</mat-label>
                <input matInput [(ngModel)]="userData.chatAC" placeholder="Chat Access Code" name="chatAccessCode" required>
            </mat-form-field>
            <button class="btn my-button">Submit</button>
        </form>

    </div>
</div>